.ilegraczy,.button, .rzutkostka,.p,.zapisz,.gracze,.polegracza,.zapisz{
    color: white;
    background-color: rgb(31,19,9);
}

body{
    background-color:rgb(31, 19, 9);
    
}
table,tr,td{
    border: 1px outset black;
    text-align: center;
    background: #0005;
    color: white;
}
table{
    background-image: url("obrazki/tlo.jpg");
    background-size: cover;
    border-radius: 1%;
}
tr,td{
  height: 20%;
  border-radius: 10%;  
}
.pole{
    height: 200px;  
    overflow: hidden;
}


img{
    width: 15%;
    height: 20%;
}